.carrito{
    width: 50%;
    background-color: white;
    margin-bottom: 150px;
    padding: 45px;
    border-radius: 150px;
    min-width: 276px;
    max-width: 341px;
}

.itemCarrito{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}

.pCarrito{
    margin-right: 31px;
}

.pNombreProducto{
    width: 177px;
    margin-left: 10px;
}

.imgCarrito{
    border-radius: 150px;
}

.titulosCarrito{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    display: none;
}
.carritoVacio{
}

.itemVacio{
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botonesCarrito{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.totalTexto{
    border: solid;
    padding: 5px;
    border-radius: 150px;
}

.totalCarrito{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#boton_vaciar, #boton_comprar {
    border-radius: 150px;
}

.tituloImagen{
    margin-left: 41px;
}

.tituloDesc{
    margin-left: 84px;
}

.tituloPrecio{
    margin-left: 82px;
}

.tituloCant{
    margin-left: 14px;
}

.tituloTotal{
    margin-left: 18px;
}