.carrito{
    width: 50%;
    //height: 300px;
    background-color: white;
    //margin-bottom: 397px;
    margin-bottom: 397px;
    padding: 90px;
    border-radius: 150px;
}

.itemCarrito{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    
}

.pCarrito{
    margin-left: 31px;
}

.pNombreProducto{
    width: 177px;
    margin-left: 10px;
}

.imgCarrito{
    border-radius: 150px;
}

.titulosCarrito{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.carritoVacio{
        //margin-bottom: 403px;
}

.itemVacio{
    min-height: 200px;
}

.botonesCarrito{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    //width: 50%;
    //margin-bottom: 397px;
}

.totalTexto{
    border: solid;
    padding: 5px;
    border-radius: 150px;
}

.totalCarrito{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#boton_vaciar, #boton_comprar {
    border-radius: 150px;
}

.tituloImagen{
    margin-left: 41px;
}

.tituloDesc{
    margin-left: 107px;
}

.tituloPrecio{
    margin-left: 82px;
}

.tituloCant{
    margin-left: 14px;
}

.tituloTotal{
    margin-left: 18px;
}