@media screen and (min-width:576px){
    .productos_estilo{
        margin-left: 15px;
    }
}
@media screen and (min-width:606px){
    .grid3{
        min-height: 427px;
    }
    .rango_precio{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media screen and (min-width:768px){
    .grid3{
        min-height: 424px;
    }

    .carrito{
        margin-bottom: 293px;
    }
}

@media screen and (min-width:992px){
    .grid3{
        min-height: 420px;
    }
}

@media screen and (min-height:1024px) {
    .grid3{
        min-height: 419px;
    }
}

@media screen and (min-width:1218px) {
    .grid3{
        min-height: 416px;
    }
    
    .titulosCarrito{
        display:flex
    }
    .carrito{
        max-width: 612px;
    }
}

@media screen and (min-width:1920px) {

    .carrito{
        //margin-bottom: 500px;
    }
}
/*
@media screen and (min-height:1024px){
    .carrito{
        margin-bottom: 355px;
    }
}

@media screen and (min-height:1080px){
    .carrito{
        margin-bottom: 403px;
    }
}*/